<div class="iq-card">
  <div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header-title">
      <h4 class="card-title">Profile Information</h4>
    </div>
  </div>
  <form [formGroup]="userForm">
    <div class="iq-card-body">
      <form>
        <div class="row align-items-center">
          <div class="form-group col-sm-4">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" />
          </div>
          <div class="form-group col-sm-4">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" />
          </div>
          <div class="form-group col-sm-4">
            <label for="uname">Email:</label>
            <input type="text" class="form-control" id="email" formControlName="email" readonly />
          </div>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-primary mr-2">Submit</button>
        <button type="reset" class="btn iq-bg-danger">Cancel</button>
      </form>
    </div>
  </form>
</div>
<div class="iq-card">
  <div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header-title">
      <h4 class="card-title">Personal Information</h4>
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile()">
    <div class="iq-card-body">
      <div class="form-group row align-items-center">
        <div class="col-md-12">
          <div class="profile-img-edit">
            <img class="profile-pic" src="assets/images/user/11.png" alt="profile-pic" />
            <div class="p-image">
              <i class="ri-pencil-line upload-button"></i>
              <input class="file-upload" type="file" accept="image/*" />
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="form-group col-sm-6">
          <label for="fname">Nickname:</label>
          <input type="text" class="form-control" id="fname" formControlName="nickname" value="Bni" />
        </div>
        <div class="form-group col-sm-6">
          <label for="dob">Date Of Birth:</label>
          <input class="form-control" id="dob" formControlName="birthDate" />
        </div>
        <div class="form-group col-sm-6">
          <label class="d-block">Gender:</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" formControlName="gender" class="custom-control-input" checked="" value="male" />
            <label class="custom-control-label" for="customRadio6"> Male </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" formControlName="gender" class="custom-control-input" value="female" />
            <label class="custom-control-label" for="customRadio7"> Female </label>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Age:</label>
          <input readonly type="number" class="form-control" id="exampleFormControlSelect2" />
        </div>
        <div class="form-group col-sm-6">
          <label>State:</label>
          <input class="form-control" type="text" formControlName="country" readonly />
        </div>
        <div class="form-group col-sm-6">
          <label>City:</label>
          <select class="form-control" formControlName="city" id="exampleFormControlSelect4">
            <option>Risaralda</option>
          </select>
        </div>
        <div class="form-group col-sm-12">
          <label>About Me:</label>
          <textarea class="form-control" name="aboutMe" formControlName="aboutMe" rows="5" style="line-height: 22px">
          </textarea>
        </div>
      </div>
      <button type="button" (click)="onUpdateProfile()" class="btn btn-primary mr-2">Submit</button>
      <button type="reset" class="btn iq-bg-danger">Cancel</button>
    </div>
  </form>
</div>
