<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="post-item">
  <div class="user-post-data p-3">
    <div class="d-flex flex-wrap">
      <div class="media-support-user-img mr-3">
        <img class="rounded-circle img-fluid" [src]="post.pic" alt="" />
      </div>

      <div class="media-support-info mt-2">
        <h5 class="mb-0 d-inline-block">
          <a href="#" class="">{{ post.owner.nickname }}</a>
        </h5>
        <p class="ml-1 mb-0 d-inline-block">{{ post.statusLabel }}</p>
        <p class="mb-0">{{ post.createdAtLabel }}</p>
      </div>

      <div *ngIf="isOwn" class="iq-card-post-toolbar">
        <div class="dropdown pointer">
          <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
            <i class="ri-more-fill"></i>
          </span>

          <div class="dropdown-menu m-0 p-0">
            <a
              [swal]="{
                title: 'Edit post',
                input: 'textarea',
                inputLabel: 'Description',
                inputValue: post.body,
                showCancelButton: true,
                inputAttributes: {
                  minlength: '10',
                  maxlength: '500'
                },
                inputValidator: inputBodyValidator
              }"
              (confirm)="updatePost($event)"
              class="dropdown-item p-3"
            >
              <div class="d-flex align-items-top">
                <div class="icon font-size-20"><i class="ri-pencil-line"></i></div>
                <div class="data ml-2">
                  <h6>Edit Post</h6>
                  <p class="mb-0">Update your post and saved items</p>
                </div>
              </div>
            </a>

            <!-- <a class="dropdown-item p-3" href="#">
                <div class="d-flex align-items-top">
                  <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                  <div class="data ml-2">
                    <h6>Hide From Timeline</h6>
                    <p class="mb-0">See fewer posts like this.</p>
                  </div>
                </div>
              </a> -->

            <a
              class="dropdown-item p-3"
              [swal]="{ title: 'Are you sure?', text: 'You won´t be able to revert this!', showCancelButton: true }"
              (confirm)="removePost()"
            >
              <div class="d-flex align-items-top">
                <div class="icon font-size-20"><i class="ri-delete-bin-7-line"></i></div>
                <div class="data ml-2">
                  <h6>Delete</h6>
                  <p class="mb-0">Remove thids Post on Timeline</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-post">
    <p>{{ post.body }}</p>
  </div>

  <div class="comment-area mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="like-block position-relative d-flex align-items-center">
        <!-- <div class="d-flex align-items-center">
            <div class="like-data">
              <div class="dropdown">
                <span
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="button"
                >
                  <img src="assets/images/icon/01.png" class="img-fluid" alt="" />
                </span>
                <div class="dropdown-menu">
                  <a
                    class="ml-2 mr-2"
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Like"
                    ><img src="assets/images/icon/01.png" class="img-fluid" alt=""
                  /></a>
                  <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Love"
                    ><img src="assets/images/icon/02.png" class="img-fluid" alt=""
                  /></a>
                  <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Happy"
                    ><img src="assets/images/icon/03.png" class="img-fluid" alt=""
                  /></a>
                  <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="HaHa"
                    ><img src="assets/images/icon/04.png" class="img-fluid" alt=""
                  /></a>
                  <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Think"
                    ><img src="assets/images/icon/05.png" class="img-fluid" alt=""
                  /></a>
                  <a class="mr-2" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sade"
                    ><img src="assets/images/icon/06.png" class="img-fluid" alt=""
                  /></a>
                  <a
                    class="mr-2"
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Lovely"
                    ><img src="assets/images/icon/07.png" class="img-fluid" alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="total-like-block ml-2 mr-3">
              <div class="dropdown">
                <span
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  role="button"
                >
                  140 Likes
                </span>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Max Emum</a>
                  <a class="dropdown-item" href="#">Bill Yerds</a>
                  <a class="dropdown-item" href="#">Hap E. Birthday</a>
                  <a class="dropdown-item" href="#">Tara Misu</a>
                  <a class="dropdown-item" href="#">Midge Itz</a>
                  <a class="dropdown-item" href="#">Sal Vidge</a>
                  <a class="dropdown-item" href="#">Other</a>
                </div>
              </div>
            </div>
          </div> -->
        <div class="total-comment-block">
          <div class="dropdown">
            <span
              class="dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              role="button"
            >
              {{ post.requests.length }} Request's
            </span>

            <div *ngIf="post.requests.length > 0" class="dropdown-menu">
              <a *ngFor="let request of post.requests | slice: 0:6" class="dropdown-item" href="#">{{
                request.owner.nickname
              }}</a>
              <a *ngIf="post.requests.length > 6" class="dropdown-item" href="#">Others</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="share-block d-flex align-items-center justify-content-between feather-icon mr-3">
      <p class="mb-0">{{ post.city.name | titlecase }}</p>
      <button *ngIf="!isOwn && !iHasRequested" (click)="sendRequest()" class="btn-primary btn">Request</button>
      <span *ngIf="iHasRequested" class="badge badge-primary">Requested</span>
      <!-- <a href="javascript:void();"><i class="ri-share-line"></i> <span class="ml-1">99 Share</span></a> -->
    </div>
  </div>
</div>
