<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="iq-card">
        <div class="iq-card-body profile-page p-0">
          <div class="profile-header">
            <div class="cover-container">
              <img src="assets/images/page-img/profile-bg1.jpg" alt="profile-bg" class="rounded img-fluid" />
              <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                <li>
                  <a href="javascript:void();"><i class="ri-pencil-line"></i></a>
                </li>
                <li>
                  <a href="javascript:void();"><i class="ri-settings-4-line"></i></a>
                </li>
              </ul>
            </div>

            <div class="user-detail text-center mb-3">
              <div class="profile-img">
                <img src="assets/images/logo.png" alt="profile-img" class="avatar-130 img-fluid" />
              </div>
              <div class="profile-detail">
                <h3 class="">Edwin Serna</h3>
              </div>
            </div>

            <div class="profile-info p-4 d-flex align-items-center justify-content-between position-relative">
              <div class="social-links">
                <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                  <li class="text-center pr-3">
                    <a href="#"><img src="assets/images/icon/08.png" class="img-fluid rounded" alt="facebook" /></a>
                  </li>

                  <li class="text-center pr-3">
                    <a href="#"><img src="assets/images/icon/09.png" class="img-fluid rounded" alt="Twitter" /></a>
                  </li>

                  <li class="text-center pr-3">
                    <a href="#"><img src="assets/images/icon/10.png" class="img-fluid rounded" alt="Instagram" /></a>
                  </li>

                  <li class="text-center pr-3">
                    <a href="#"><img src="assets/images/icon/12.png" class="img-fluid rounded" alt="You tube" /></a>
                  </li>

                  <li class="text-center pr-3">
                    <a href="#"><img src="assets/images/icon/13.png" class="img-fluid rounded" alt="linkedin" /></a>
                  </li>
                </ul>
              </div>

              <!-- <div class="social-info">
                <ul class="social-data-block d-flex align-items-center justify-content-between list-inline p-0 m-0">
                  <li class="text-center pl-3">
                    <h6>Posts</h6>
                    <p class="mb-0">690</p>
                  </li>
                  <li class="text-center pl-3">
                    <h6>Followers</h6>
                    <p class="mb-0">206</p>
                  </li>
                  <li class="text-center pl-3">
                    <h6>Following</h6>
                    <p class="mb-0">100</p>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="iq-card">
        <div class="iq-card-body p-0">
          <div class="user-tabing">
            <ul class="nav nav-pills d-flex align-items-center justify-content-center profile-feed-items p-0 m-0">
              <li class="col-sm-3 p-0">
                <a class="nav-link" [routerLink]="['/user/profile/timeline']" routerLinkActive="active">Timeline</a>
              </li>

              <li class="col-sm-3 p-0">
                <a class="nav-link" [routerLink]="['/user/profile/about']" routerLinkActive="active">About</a>
              </li>

              <!-- <li class="col-sm-3 p-0">
                <a class="nav-link" [routerLink]="['/user/profile/friends']" routerLinkActive="active">Friends</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>

    <!-- <div class="col-sm-12 text-center">
      <img src="images/page-img/page-load-loader.gif" alt="loader" style="height: 100px" />
    </div> -->
  </div>
</div>
