<div class="iq-sidebar">
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li [routerLink]="['/home']" routerLinkActive="active">
          <a [routerLink]="['/home']" routerLinkActive="active" class="iq-waves-effect"
            ><i class="las la-newspaper"></i><span>Newsfeed</span></a
          >
        </li>

        <li [routerLink]="['/user/profile/timeline']" routerLinkActive="active">
          <a [routerLink]="['/user/profile/timeline']" routerLinkActive="active" class="iq-waves-effect"
            ><i class="las la-user"></i><span>Profile</span></a
          >
        </li>

        <!-- <li>
          <a href="friend-list.html" class="iq-waves-effect"
            ><i class="las la-user-friends"></i><span>Friend Lists</span></a
          >
        </li> -->

        <!-- <li>
          <a href="profile-event.html" class="iq-waves-effect"
            ><i class="las la-film"></i><span>Profile Events</span></a
          >
        </li> -->
        <!-- <li>
          <a href="notification.html" class="iq-waves-effect"><i class="las la-bell"></i><span>Notification</span></a>
        </li> -->

        <!-- <li>
          <a href="friend-request.html" class="iq-waves-effect"
            ><i class="las la-anchor"></i><span>Friend Request</span></a
          >
        </li> -->

        <li>
          <a [routerLink]="['/chat']" routerLinkActive="active" class="iq-waves-effect"
            ><i class="lab la-rocketchat"></i><span>Chat</span></a
          >
        </li>

        <!-- <li>
          <a href="birthday.html" class="iq-waves-effect"><i class="las la-birthday-cake"></i><span>Birthday</span></a>
        </li> -->
      </ul>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
