/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: var(--iq-primary);
  border-color: var(--iq-primary);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--iq-primary);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background: var(--iq-primary);
  border-color: var(--iq-primary);
}

textarea.form-control {
  line-height: 22px;
}

// Init select custom
.multiselect-item-checkbox input[type="checkbox"] + div:before {
  color: var(--iq-primary) !important;
  border: 2px solid var(--iq-primary) !important;
}
.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  background: var(--iq-primary) !important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid var(--iq-primary) !important;
  background: var(--iq-primary) !important;
  max-width: none !important;
}
// Fin select custom

.spinner-border {
  width: 1rem;
  height: 1rem;
}

.form-control.ng-invalid.ng-touched {
  border-color: var(--iq-danger);
}

.pointer {
  cursor: pointer;
}
