<div class="chat-content scroller">
  <!-- chat-left -->
  <ng-container *ngFor="let group of messagesGroup$ | async">
    <p class="mb-2 text-center">{{ group.date | date }}</p>

    <div *ngFor="let message of group.messages" [ngClass]="{ 'chat-left': profile._id != message.from }" class="chat">
      <div class="chat-user">
        <a class="avatar m-0">
          <img src="assets/images/user/1.jpg" alt="avatar" class="avatar-35" />
        </a>
        <span class="chat-time mt-1">{{ message.createdAt | date: 'shortTime' }}</span>
      </div>
      <div class="chat-detail">
        <div class="chat-message">
          <p>{{ message.message }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
