<div class="chat-head">
  <header class="d-flex justify-content-between align-items-center bg-white pt-3 pr-3 pb-3">
    <div class="d-flex align-items-center">
      <div class="sidebar-toggle">
        <i class="ri-menu-3-line"></i>
      </div>
      <div class="avatar chat-user-profile m-0 mr-3">
        <img src="assets/images/user/05.jpg" alt="avatar" class="avatar-50" />
        <span class="avatar-status"><i class="ri-checkbox-blank-circle-fill text-success"></i></span>
      </div>
      <h5 class="mb-0">Team Discussions</h5>
    </div>
    <div class="chat-user-detail-popup scroller">
      <div class="user-profile text-center">
        <button type="submit" class="close-popup p-3"><i class="ri-close-fill"></i></button>
        <div class="user mb-4">
          <a class="avatar m-0">
            <img src="assets/images/user/05.jpg" alt="avatar" />
          </a>
          <div class="user-name mt-4">
            <h4>Bni Jordan</h4>
          </div>
          <div class="user-desc">
            <p>Cape Town, RSA</p>
          </div>
        </div>
        <hr />
        <div class="chatuser-detail text-left mt-4">
          <div class="row">
            <div class="col-6 col-md-6 title">Bni Name:</div>
            <div class="col-6 col-md-6 text-right">Bni</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 col-md-6 title">Tel:</div>
            <div class="col-6 col-md-6 text-right">072 143 9920</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 col-md-6 title">Date Of Birth:</div>
            <div class="col-6 col-md-6 text-right">July 12, 1989</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 col-md-6 title">Gender:</div>
            <div class="col-6 col-md-6 text-right">Male</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6 col-md-6 title">Language:</div>
            <div class="col-6 col-md-6 text-right">Engliah</div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-header-icons d-flex">
      <a href="javascript:void();" class="chat-icon-phone iq-bg-primary">
        <i class="ri-phone-line"></i>
      </a>
      <a href="javascript:void();" class="chat-icon-video iq-bg-primary">
        <i class="ri-vidicon-line"></i>
      </a>
      <a href="javascript:void();" class="chat-icon-delete iq-bg-primary">
        <i class="ri-delete-bin-line"></i>
      </a>
      <span class="dropdown iq-bg-primary">
        <i
          class="ri-more-2-line cursor-pointer dropdown-toggle nav-hide-arrow cursor-pointer pr-0"
          id="dropdownMenuButton02"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          role="menu"
        ></i>
        <span class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton02">
          <a class="dropdown-item" href="JavaScript:void(0);"
            ><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pin to top</a
          >
          <a class="dropdown-item" href="JavaScript:void(0);"
            ><i class="fa fa-trash-o" aria-hidden="true"></i> Delete chat</a
          >
          <a class="dropdown-item" href="JavaScript:void(0);"><i class="fa fa-ban" aria-hidden="true"></i> Block</a>
        </span>
      </span>
    </div>
  </header>
</div>
