<div class="chat-sidebar-channel scroller mt-4 pl-3">
  <h5 class="mt-3">Direct Message</h5>

  <ul class="iq-chat-ui nav flex-column nav-pills">
    <li *ngFor="let chat of chats$ | async">
      <a data-toggle="pill" href="#chatbox1" (click)="openChat(chat._id)">
        <div class="d-flex align-items-center">
          <div class="avatar mr-2">
            <img [src]="chat.pic" alt="chatuserimage" class="avatar-50" />
            <span class="avatar-status"><i class="ri-checkbox-blank-circle-fill text-dark"></i></span>
          </div>
          <div class="chat-sidebar-name">
            <h6 class="mb-0">{{ chat.membersNames }}</h6>
            <!-- <span>translation by</span> -->
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
