<div class="sign-in-from">
  <h1 class="mb-0">Sign Up</h1>
  <p>Enter your email address and password to access admin panel.</p>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="form-group">
      <label for="inputName">Your Full Name</label>
      <input
        type="email"
        formControlName="name"
        class="form-control mb-0"
        id="inputName"
        placeholder="Your Full Name"
      />
    </div>

    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" formControlName="email" class="form-control mb-0" id="inputEmail" placeholder="Enter email" />
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control mb-0"
        id="inputPassword"
        placeholder="Password"
      />
    </div>

    <div class="d-inline-block w-100">
      <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck1" />
        <label class="custom-control-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a></label>
      </div>
      <button type="submit" [disabled]="loading" class="btn btn-primary float-right">
        Sign Up
        <div *ngIf="loading" class="spinner-border text-light" role="status"></div>
      </button>
    </div>

    <div class="sign-info">
      <span class="dark-color d-inline-block line-height-2"
        >Already Have Account ? <a [routerLink]="['/auth/sign-in']">Log In</a></span
      >
      <ul class="iq-social-media">
        <li>
          <a href="#"><i class="ri-facebook-box-line"></i></a>
        </li>
      </ul>
    </div>
  </form>
</div>
